

<label>Country:</label>
<select [(ngModel)]="selectedCountry.id" (change)="onSelect($event.target.value)">
  <option value="0">--Select Country--</option>
  <option *ngFor="let country of countries" value={{country.id}} >{{country.name}}</option>
</select>
<br /><br />
<div>
  <label>State:</label>
  <select>
    <option *ngIf='selectedCountry.id == 0' value="0">--:Select State--</option>
    <option *ngFor="let state of states |  filterSelect: selectedCountry.id " value={{state.id}}>{{state.name }}</option>
  </select>
</div>

<!--

<router-outlet></router-outlet>
-->
